.product_wrapper {
    width: 17%;
    display: inline-block;
    margin: 30px;
}

.product-img {
    width: 100%;
}

.prod_footer {
    display: flex;
    justify-content: space-between;
}

.cart_btn {
    border-radius: 4px;
    font-size: 13px;
}

.product {
    border: 1px solid #b1a056;
    padding: 7px;
    border-radius: 10px;
}