.Contact {
    padding-bottom: 30vh;
    text-align: center;

    h1 {
        font-size: 45px;
        color: rgba(47, 53, 66,1.0);
        font-weight: 300;
    }

    .Info {
        font-size: 35px;
        margin: 20px 0;
        color: rgba(47, 53, 66,1.0);
        .fas, .far {
            font-size: 50px;
            margin-right: 10px;
            color: rgba(206, 214, 224,1.0);
            position: relative;
            top: 6px;
        }
    }

    .Hours {
        display: block;
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    .Contact {
        padding-bottom: 0vh;
    }
}
