.Footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    padding-top: 100px;
    bottom: 0;
    width: 97%;
}

h6 {
    position: absolute;
    left: 0px;
}

