.intro {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 150px;
}


.intro_button {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    border: 3px solid black;
    background: none;
    margin: 20px;
    outline: 0;
}

.intro_button:active {
	box-shadow: 1px 2px 2px 2px black;
	border: none;
}

.photo {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -1;
    margin: -259px -158px;
}

